<div class="container">

    <div class="row">
    <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="thumbnail">
                <img class="img-responsive" src="../{{product.imagePath}}" alt="">
                <div class="ratings">
                    <p class="pull-right">2 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>
        </div>
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>{{product.title}}</h2>
            <p>
                <a href="/add-to-cart/{{product.id}}" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>

            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="info-tabs">
                <ul class="info-tab-nav nav nav-pills nav-justified">
                    <li class="active"><a href="#menu1" data-toggle="pill"><span class="icon visible-xs"><i class="fa fa-file" aria-hidden="true"></i></span><span class="hidden-xs">Product Details</span></a></li>
                    <li><a href="#menu2" data-toggle="pill"><span class="icon visible-xs"><i class="fa fa-bar-chart"></i></span><span class="hidden-xs">Specification</span></a></li>
                    <li><a href="#menu3" data-toggle="pill"><span class="icon visible-xs"><i class="fa fa-star"></i></span><span class="hidden-xs">Feedback &amp; Ratings</span></a></li>
                </ul>

                <!-- Tabs -->
                <div class="info-wrap">

                    <div id="menu1" class="info-tab-content tab-content active">
                        <div class="col-md-10 col-md-offset-1">
                            <span class="price">PRICE: ${{product.price}}</span>
                            <h2>{{product.title}}</h2>
                            <p>{{product.description}}</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="uppercase">Composition</h2>
                                    <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                </div>
                                <div class="col-md-6">
                                    <h2 class="uppercase">Comforts</h2>
                                    <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="menu2" class="info-tab-content tab-content" data-tab-content="2">
                        <div class="col-md-10 col-md-offset-1">
                            <h3>Product Specification</h3>
                            <ul>
                                <li>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius</li>
                                <li>adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi</li>
                                <li>Veritatis tenetur odio delectus quibusdam officiis est.</li>
                                <li>Magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</li>
                            </ul>
                            <ul>
                                <li>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius</li>
                                <li>adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi</li>
                                <li>Veritatis tenetur odio delectus quibusdam officiis est.</li>
                                <li>Magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</li>
                            </ul>
                        </div>
                    </div>

                    <div id="menu3" class="info-tab-content tab-content" data-tab-content="3">
                        <div class="col-md-10 col-md-offset-1">
                            <h3>Happy Buyers</h3>
                            <div class="feed">
                                <div>
                                    <blockquote>
                                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
                                    </blockquote>
                                    <h3>&mdash; Ronaldo</h3>
                                    <span class="rate">
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
											</span>
                                </div>
                                <div>
                                    <blockquote>
                                        <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>
                                    </blockquote>
                                    <h3>&mdash; Messi</h3>
                                    <span class="rate">
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
												<i class="icon-star2"></i>
											</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
