
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success {{#if noMessages}}hidden{{/if}}">
            {{successMsg}}
        </div>
    </div>
</div>
</br>
<div class="row">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</br>
<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
        <li data-target="#mainCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../images/s1.jpg" alt="Clothing">
        </div>

        <div class="item">
            <img src="../images/s2.jpg" alt="Watch">
        </div>

        <div class="item">
            <img src="../images/s3.jpg" alt="Clothing">
        </div>

        <div class="item">
            <img src="../images/s4.jpeg" alt="Clothing">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</br>

<h3>NEW ARRIVALS - MENS</h3>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../images/men12.png" alt="">
            <div class="overlay">
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare"><span class="fa fa-shopping-cart"></span></a>
                <a data-toggle2="tooltip" data-placement="top" title="" data-toggle="modal" data-target="#quick-view-modal" data-original-title="Quick View"><span class="fa fa-search getSrc"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../images/men4.png" alt="">
            <div class="overlay">
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare"><span class="fa fa-shopping-cart"></span></a>
                <a data-toggle2="tooltip" data-placement="top" title="" data-toggle="modal" data-target="#quick-view-modal" data-original-title="Quick View"><span class="fa fa-search getSrc"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../images/men11.png" alt="">
            <div class="overlay">
                <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare"><span class="fa fa-shopping-cart"></span></a>
                <a  data-toggle2="tooltip" data-placement="top" title="" data-toggle="modal" data-target="#quick-view-modal" data-original-title="Quick View"><span class="fa fa-search getSrc"></span></a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <img class="img-responsive" src="../images/men7.png" alt="">
            <div class="overlay">
                <a  data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare"><span class="fa fa-shopping-cart"></span></a>
                <a  data-toggle2="tooltip" data-placement="top" title="" data-toggle="modal" data-target="#quick-view-modal" data-original-title="Quick View"><span class="fa fa-search getSrc"></span></a>
            </div>
        </div>
    </div>
</div>

<!-- quick view modal -->
<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:25px;">
                                    <div style="text-align:center;">
                                        <img src="" class="show-pic">
                                    </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-content">
                            <h3>Product</h3>
                            <div class="aa-price-block">
                                <span class="aa-product-view-price">$34.99</span>
                                <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                            <div class="aa-prod-quantity">
                                <p class="aa-prod-category">
                                    Category: <a href="#">Sub-product</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- / quick view modal -->


</br>

<h3>POPULAR PRODUCTS</h3>
{{# each products}}

    <div class="row">
        {{# each this}}

            <div class="col-sm-4     col-md-4">
                <div class="thumbnail">
                    <a href="/product/{{this._id}}"><img src="{{this.imagePath}}" alt="{{this.title}}" class="img-responsive"></a>
                    <div class="caption">
                        <h3>{{this.title}}</h3>
                        <p class="description">{{this.description}}</p>

                        <div class="clearfix">
                            <div class='price pull-left'>${{this.price}}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn pull-right btn-success" role="button">Add to shopping cart</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>

{{/each}}

</br>

<div class="container container-mobile text-center">
    <div class="row">

        <h2>EXPLORE BY BRANDS</h2>

        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div class = "thumbnail">
                <a href="#"><img src = "../images/calvin.jpg" alt ="Calvin"></a>
            </div>
        </div>

        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div class = "thumbnail">
                <a href="#"><img src = "../images/blackdecker.jpg" alt ="BlackDecker"></a>
            </div>
        </div>

        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div class = "thumbnail">
                <a href="#"><img src = "../images/levis.jpg" alt = "Levis"></a>
            </div>
        </div>

        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div class = "thumbnail">
                <a href="#"> <img src = "../images/holii.jpg" alt = "Holii"></a>
            </div>
        </div>

        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div class = "thumbnail">
                <a href="#"> <img src = "../images/arrow.jpg" alt = "Arrow"></a>
            </div>
        </div>
        <div class = "col-xs-4 col-sm-4 col-md-2 col-lg-2">
            <div class = "thumbnail">
                <a href="#"> <img src = "../images/vanca.jpg" alt = "Vanca"></a>
            </div>
        </div>

    </div>
</div>
<br>

<script type="text/javascript">

        $('.getSrc').on('click',function() {
            var src = $(this).parent().parent().parent().children('img').attr('src');
            $('.show-pic').attr('src',src);
        });

</script>

